.bread-crumbs {
  display: flex;
  gap: 11px;
  font-family: $helvetica-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: $grey-1;
  padding: 0 16px;
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    margin: 49px 0 47px;
    padding: 0 51px;

  }
}

.bread-crumbs__link {
  transition: color 0.3s ease;

  &:hover {
    color: $grey-2;
  }
}

.bread-crumbs__current {
  color: $black;
}
