.main {
  flex-grow: 1;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;

}

.main__wrapper {
  font-family: $helvetica-family;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: minmax(0, 760px) 1fr;
    gap: 13px 40px;
    align-items: start;
    position: relative;
    padding: 0 16px;
  }

  @media (min-width: 1300px) {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
}
